---
layout: component-test
title: o-outer-container - SASS Layout Objects
css:
- test.css
---
<h1><code>o-outer-container</code></h1>
<div class="o-test-container">
  <div class="o-outer-container">
    <div class="o-test-content s-cms">
      <p>Outer container's job is to occupy the full page width up to the
        maximum page width.</p>

      <%= partial "../../../test-common/partials/latin-paragraph" %>
    </div>
  </div>
</div>