---
layout: component-test
title: c-article-meta - Article Components
css:
- test.css
---
<h1><code>c-article-meta</code></h1>



<h2>Actual appearance</h2>
<div class="c-article-meta">
  <div class="c-article-meta__author">Martin Funcich</div>
  <div class="c-article-meta__last-updated">March 28, 2016 11:28 PM</div>
</div>



<h2>Containers visible</h2>
<div class="o-test-container">
  <div class="c-article-meta">
    <div class="c-article-meta__author">
      <div class="o-test-content">Martin Funcich</div>
    </div>
    <div class="c-article-meta__last-updated">
      <div class="o-test-content">March 28, 2016 11:28 PM</div></div>
  </div>
</div>