---
title: Prototype index
layout: component-test
---
<h1>Integration tests</h1>
<h2>News page</h2>
<ul>
  <li><a href="/test/news/">News (default theme)</a></li>
  <li><a href="/test/news/theme-inverse">News (inverse theme)</a></li>
</ul>
<h1>Isolation tests</h1>
<h2>SASS layout objects</h2>
<h3>o-grid-equal-cols</h3>
<ul>
  <li><a href="/components/sass-layout-objects/test/grid-equal-cols">o-grid-equal-cols--N-cols - manual column count</a></li>
  <li><a href="/components/sass-layout-objects/test/grid-equal-cols/auto">o-grid-equal-cols--auto-cols - automatic column count</a></li>
</ul>
<h3>o-outer-container</h3>
<ul>
  <li><a href="/components/sass-layout-objects/test/outer-container">o-outer-container</a></li>
</ul>
<h2>c-page</h2>
<ul>
  <li><a href="/components/page/test">c-page</a></li>
</ul>
<h2>c-article</h2>
<ul>
  <li><a href="/components/article/test/article">c-article</a></li>
  <li><a href="/components/article/test/article-meta">c-article-meta</a></li>
</ul>
